<html lang="id">
<head>
    <title>JarvisLeave</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<header>
    <span>JarvisLeave</span>
</header>
<main>
    <table>
        <thead>
        <tr>
            <td>NIP</td>
            <td>Nama lengkap</td>
            <td>Divisi</td>
            <td>Email</td>
            <td>Nama pengguna</td>
            <td>Role</td>
            <td></td>
        </tr>
        </thead>
        <tbody id="data"></tbody>
    </table>
</main>
<script>
    const tbody = document.querySelector('#data');

    function tampilkan() {
        fetch('/api/employees')
            .then(response => response.json())
            .then(employees => {
                tbody.innerHTML = '';
                for (let employee of employees) {
                    const tr = document.createElement('tr');

                    function addTd(data) {
                        const td = document.createElement('td');
                        td.textContent = data;
                        tr.appendChild(td);
                    }

                    addTd(employee.nip);
                    addTd(employee.namaLengkap);
                    addTd(employee.divisi);
                    addTd(employee.email);
                    addTd(employee.username);
                    addTd(employee.role.nama);

                    const td = document.createElement('td');

                    const button = document.createElement('button');
                    button.textContent = 'Hapus';
                    button.onclick = () => hapus(employee.id);
                    td.appendChild(button);

                    tr.appendChild(td);

                    tbody.appendChild(tr);
                }
            });
    }

    tampilkan();

    function hapus(id) {
        fetch('/api/employees/' + id, {
            method: 'DELETE'
        })
            .then(response => {
                if (response.ok) {
                    alert('Employee berhasil dihapus.');
                    tampilkan();
                }
            });
    }
</script>
</body>
</html>